<button type="button" class="btn btn-link video-batch-delete">批量删除</button>
<table datatable="ng" class="table table-hover" id="example">
    <thead>
    <tr>
        <th>#</th>
        <th>弹幕内容</th>
        <th>发送用户</th>
        <th>发送时间</th>
        <th>操作</th>
    </tr>
    </thead>
    <tr ng-repeat="danmu in danmus">
        <th scope="row">
            <label><input type="checkbox" ng-value="danmu.cid"></label>
            {{$index+1}}
        </th>
        <td>{{danmu.message}}</td>
        <td>{{danmu.username}}</td>
        <td>{{danmu.time}}</td>
        <td><a class="management-operation-button"><i class="glyphicon glyphicon-remove"
                                                      title="删除弹幕"></i></a></td>
    </tr>
    <tbody>

    </tbody>
</table>
